*{
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
body{
background-color: #e2dfe1; 
overflow-x: hidden;   

}

#header{
border-bottom: 5px solid rgb(199, 199, 199);
height:100px;
margin-bottom: 0;
padding-bottom: 0;
margin: auto;
}

#header_list{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    list-style: none;
    
}
 
#header a{
    color: black;
    text-decoration: none;
    
}

#header li{
    font-size: auto;

}

#header ul:hover{
    transition: float , 1s;
   color: maroon;
   text-decoration: underline;
}

#landing{
    height:80vh;
    width:100vw;
    background-image: url("./website1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-size: larger;
    padding-left: none;
    color: rgb(199, 199, 199);
    z-index: 300;
    position: absolute;
}
.text {
    border-left: 10px solid rgb(199, 199, 199);
    position: relative;
    top: 40%;
    left: 5%;
    opacity: 0; 
    animation: fadeIn 3s ease-in-out forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}



#container{
    position: relative;
    margin-top: -15px;
    position: relative;
    height:80vh;
    width:100vw;
}

#cover{
    position:absolute;
    height:80vh;
    width:100vw;
    background: rgba(0,0,0,0.5);
    top: 0;
    z-index: -1;
}


#SKILLS {
    position: relative;
    height: 120vh;
    overflow-y: scroll;
    opacity: 0;
    margin-top: 50px;
    opacity: 0;
    transition: opacity 5s ease;
}




@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0); 
    }
}

#EDUCATION{
    position: relative;
   /*width: 100vw;*/
    height: 130vh;
    position: relative;
    padding: 10px;
    margin: 10px;
    left: 50%;
    transition: left 5s ease;
    
}
#EXPERIENCE{
    position: relative;
   /*width: 100vw;*/
    height: 100vh;
   position: relative;
   
}

.frame{
    border:5px solid rgb(199, 199, 199);
    width: 50%;
    height: 100vh;
    
    
}
#heading{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.overflow{
    position: absolute;
}
#CONTACT{
    
    background-color: rgb(61, 1, 1);
    bottom: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #e2dfe1;
    gap: 30;
}
#CONTACT a{
    color: #e2dfe1;
    text-decoration: none;
}
.right{
right: 0;
}
/*
navigation
*/
#nav{
    font-size: 30px;
    margin-left:50px;
    visibility: hidden;
}
#nav-pannel {
    position: fixed;
    left: 0;
    top:0;
    height: 100vh; 
    width: 200px; 
    background-color: rgb(199, 199, 199); 
    color: #fff; 
    z-index: 400000;
    font-size: larger;
    visibility: hidden;
}


#nav-list {
    list-style: none;
    padding: 20px;
}

#nav-list a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 20px 0;
    transition: background-color 0.3s ease;
}


/* keyframe for smaller screens*/
@media (max-width: 767px) {
    *{
        padding: auto;
        margin:auto ;
    }
    #SKILLS,#EDUCATION,#EXPERIENCE{
        width: 100vw;
        position: unset;
        padding: 10px;
        height: 200vh;
        

    }
    #flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
        margin: auto;
        padding: 20px;
        
    }
    #nav{
        visibility: visible;
        
    }
    #header_list{
        visibility: hidden;
    }
}
/*TOP BUTTON*/
.top{
    
    position: fixed;
    z-index: 20000;
    right: 0;
    bottom: 0;
    
}
.up{
    border: none;
    font-size: 70px;
}


.fa-arrow-up{
    
   
    color: black;
    z-index: 30000;
}

#projects{
    border: none;
    font-size: 30px;
    margin-top: 10px;
    color: rgb(199, 199, 199);
}
#project-folder{
    visibility: hidden;
}
/*
